<div class="wrapper">
    <h1>Articles</h1>
<h2 class="name">{{title}}</h2>
<h3>By: {{author}}</h3>
<p>{{body}}</p> <br>
<h2 id="message">{{error}}</h2>
<div class="container">
<form action="/articles/{{urlTitle}}?_method=DELETE" method="POST">
    <input class="btn" type="submit" name="_method" value="Delete">
</form>

<form action="/articles/{{urlTitle}}/edit" method="GET">
    <input class="btn" type="submit" value="Edit">
</form>
</div>
</div>