<form action="/products/{{id}}?_method=PUT" method="POST">
    Name: <br>
    <input type="text" name="name" value="{{name}}"><br>
    Price: <br>
    <input type="text" name="price" value="{{price}}"> <br>
    Inventory: <br>
    <input type="text" name="inventory" value="{{inventory}}"> <br> <br>
    <input type="submit" value="Submit">
</form>
<h2>{{message}}</h2>