<div class="indexWrapper">
<h1>Products</h1>
<h2>{{message}}</h2>
{{#each all}}
<h2><a href="/products/{{id}}">{{name}}</a></h2>
<h3>${{price}}</h3>
<p>{{inventory}} {{name}} are in stock</p>
</br>
{{/each}}
<a href="/products/new">Add New Product</a>
</div>