<div class="wrapper">
    <h1>Products</h1>
<h2 class="name">{{name}}</h2>
<h3>${{price}}</h3>
<p>{{inventory}} {{name}}'s are in stock</p> <br>
<h2 id="message">{{error}}</h2>
<div class="container">
<form action="/products/{{id}}?_method=DELETE" method="POST">
    <input class="btn" type="submit" name="_method" value="Delete">
</form>

<form action="/products/{{id}}/edit" method="GET">
    <input class='btn' type="submit" value="Edit">
</form>
</div>
</div>